exportPattern("^([^.]|\\..+\\.)")
import(stats)
import(Rcmdr)
import(tcltk2)
importFrom(Hmisc, wtd.mean, wtd.var,wtd.quantile,wtd.table,wtd.rank)
importFrom(tcltk, tkfont.create, ttkprogressbar, tkwidget, setTkProgressBar, ttknotebook, tkadd, tkselect, tkbutton,ttkcombobox,tkget)
importFrom(tseries, tseries.runs.test = "runs.test")
importFrom(randtests, randtests.runs.test = "runs.test")
importFrom(utils, type.convert)